<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" type="text/css" href="../../pubilc/css/style.css"/>
    <script src="/js/api.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main-contender">
        {{>header}}
        <p>강남 거리로부터 관광지 정보</p>
        <form action="/area" method="post">
            <input placeholder="장소" name="location">
            <button>Search</button>
        </form>
        <p>속보 코드를 통한 속보알림</p>
        <form action="/weather" method="post">
            <input placeholder="코드" name="location">
            <button>Search</button>
        </form>
        <p>달리3를 통해 이미지 생성</p>
        <form action="/image" method="post">
            <input placeholder="설명" name="location">
            <button>Search</button>
            
        </form>
        {{>footer}}
    </div>

</body>
</html>